<nav class="navbar">
  <ul class="nav-items">
    <li class="nav-item"> 
      <a [routerLink]="['/']">
        Battery
      </a>
    </li>
    <li class="nav-item"> 
      <a [routerLink]="['/device']">
        Device
      </a>
    </li>
    <li class="nav-item"> 
      <a [routerLink]="['/temperature']">
        Temperature
      </a>
    </li>
  </ul>
<div class="d-flex">
  <a class="button fancy-button">Setting</a>
</div>
  
  
</nav>





<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->